<div class="search-container">
    <mat-form-field class="search">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let chip of searchChips" [selectable]="selectable"
                   [removable]="removable" (removed)="removeSearchChip(chip)">
            {{chip.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Szukaj"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addSearchChip($event)">
        </mat-chip-list>
      </mat-form-field>
</div>
