.main-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.search-container {
    width: 400px;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 700px;
}

.search {
    width: 100%;
}

mat-form-field {
    font-size: 16px;
}

.search-button {
    cursor: pointer;
}