.card-container {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

mat-card {
    width: 300px;
    margin: 20px;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.icon-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-section {
    width: 30px;
    height: 35px;
}

mat-card-header {
    display: flex;
    justify-content: space-between;
}