.create-announcement-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dialog-container {
    width: 600px;
    height: 550px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 100px;
}