@import './src/variables.scss';

.content-container {
    background-color: rgba($main-purple, 0.03);
    padding: 10px;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
