<!-- <div class="navbar-container">
  
    <div class="logo-container">

        <a class="navbar-item" href="">
            <img src="assets/logo.png" class="logo" />
        </a>
    </div>

    <div class="button-container">

        <button mat-flat-button class="navbar-item">Utwórz ogłoszenie</button>
        <button mat-flat-button class="navbar-item" color="accent">Zaloguj</button>
    </div>
</div> -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo-container">

      <a href="">
        <img src="assets/logo.png" class="logo" />
      </a>
    </div>

    <div class="button-container">

      <button mat-flat-button>Utwórz ogłoszenie</button>
      <button mat-flat-button color="accent">Zaloguj</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
